<%= javascript_include_tag '/assets/cljs/target/main.js' %>
<h1>Re-frame Sets</h1>
<div id="app">
  <h1>Reagent example app – see README.md</h1>
</div>
<script type="text/javascript">
    quizlet.main.run();
</script>
